

.text-center {
  text-align: center;
  font-size: 32px;
}

.thumbnail {
  display: block;
  margin: 15px;
}

.img-container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.left-box {
 background-color: #FADD1E; 
}  